@import "global.css";

.header__text {
    color: blue;
    font-size: 30px;
    margin: 6px;
    padding: 4px;
}

.main__sub-heading {
    color: red;
    margin: 10px 30px;
    text-align: center;
    font-weight: bold;
    font-family: 'Lora', serif;
}

.main__para {
    color: green;
}

.main__para--red {
    color: red;
}

.main {
    border: 2px solid blue;
    border-radius: 20px;
    padding: 10px 20px;
}

.nav {
    display: flex;
    flex-direction: column;
}

.article {
    display: flex;
    justify-content: center;
}

.article__list {
    list-style-type: square;
    border: 1px solid green;
}

.article__list--alt {
    color: red;
}

.form__input {
    background-color: rebeccapurple;
    color: white;
    padding: 5px;
    border-radius: 100vh;
    outline: none;
}

.main__link {
    background-color: blueviolet;
}
