.heading {
    color: red;
    font-size: 30px;
    padding: 20px;
} 

.special {
    color: blue;
}

/* BEM */

/* Block element modifier */

.frontpage__heading--bold {
    font-weight: bold;
}

/* zxczxczxczxc */